

.speaker-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.speaker-gallery-item {
    width: 300px;
}
.speaker-gallery-item .speaker-image img{width:100%}
.speaker-gallery-item .speaker-data .speaker-name{font-weight:bold}
.speaker-gallery-item .speaker-data .speaker-twitter {font-size: smaller}
.speaker-gallery-item .speaker-data .speaker-company{font-weight:lighter}
