/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fafafa;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #333;

  /* fonts */
  --body-font-family: "SignikaLight",helvetica,arial,sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 20px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;

}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal; 
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;    
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  max-height: 600px;
  height: auto;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;  
  }
 
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

/* adapt.to suff */

.col-1-4,.col-2-4,.col-3-4,.col-4-4,.col-1-5,.col-2-5,.col-3-5,.col-4-5,.col-5-5,.col-1-6,.col-2-6,.col-3-6,.col-4-6,.col-5-6,.col-6-6{float:left;position:relative}
.row{*zoom:1;margin:0 auto;max-width:100%;width:100%}
@media screen and (min-width:600px) and (max-width:799px){.row{width:100%;min-width:0}
}
@media screen and (min-width:799px){.row{width:1000px;min-width:768px}
}
.row:before,.row:after{content:"";display:table}
.row:after{clear:both}
.row .row{max-width:none;min-width:0;width:auto}
.right{float:right}
[class^="col"]+[class^="col"]:last-child{float:right}
.col-1-4{width:100%}
@media screen and (min-width:600px) and (max-width:799px){.col-1-4{width:50%}
}
@media screen and (min-width:799px){.col-1-4{width:25%}
}
.col-2-4{width:100%}
@media screen and (min-width:799px){.col-2-4{width:50%}
}
.col-3-4{width:100%}
@media screen and (min-width:799px){.col-3-4{width:75%}
}
.col-4-4{width:100%}
.col-1-5{width:100%}
@media screen and (min-width:320px) and (max-width:799px){.col-1-5{width:100%}
}
@media screen and (min-width:799px){.col-1-5{width:20%}
}
.col-2-5{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-2-5{width:50%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-2-5{width:50%}
}
@media screen and (min-width:799px){.col-2-5{width:40%}
}
.col-3-5{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-3-5{width:50%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-3-5{width:50%}
}
@media screen and (min-width:799px){.col-3-5{width:60%}
}
.col-4-5{width:100%}
@media screen and (min-width:320px) and (max-width:799px){.col-4-5{width:100%}
}
@media screen and (min-width:799px){.col-4-5{width:80%}
}
.col-5-5{width:100%}
.col-1-6{width:100%}
@media screen and (min-width:320px) and (max-width:799px){.col-1-6{width:100%}
}
@media screen and (min-width:799px){.col-1-6{width:16.66666%}
}
.col-2-6{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-2-6{width:100%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-2-6{width:50%}
}
@media screen and (min-width:799px){.col-2-6{width:33.33333%}
}
.col-3-6{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-3-6{width:50%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-3-6{width:50%}
}
@media screen and (min-width:799px){.col-3-6{width:50%}
}
.col-4-6{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-4-6{width:100%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-4-6{width:50%}
}
@media screen and (min-width:799px){.col-4-6{width:66.66666%}
}
.col-5-6{width:100%}
@media screen and (min-width:320px) and (max-width:600px){.col-5-6{width:100%}
}
@media screen and (min-width:600px) and (max-width:799px){.col-5-6{width:100%}
}
@media screen and (min-width:799px){.col-5-6{width:83.33333%}
}
.col-6-6{width:100%}

table{width:100%}
th,td{margin:0;padding:.5em;vertical-align:top;text-align:left;color:#333}
th:first-child,td:first-child{width:7em}
th:last-child,td:last-child{width:10em}
th.entry-time,td.entry-time{width:auto}
th.entry-time:first-child,td.entry-time:first-child{white-space:nowrap}
th.entry-title,td.entry-title{width:auto}
@media screen and (max-width:600px){th,td{font-size:.8em}
}
@media screen and (max-width:320px){th:nth-child(2),td:nth-child(2){border-right:0}
th:last-child,td:last-child{display:none}
}
td{border:3px solid #ccc}
td:first-child{border-left:0}
td:last-child{border-right:0}

#lb__overlay{display:none;position:fixed;left:0;top:0;bottom:0;right:0;z-index:1500;background-color:#000;overflow-x:auto}
.lb_open #lb__overlay{display:block}
.lb_open{overflow:hidden}
#lb__close_btn{position:absolute;right:0;top:0;z-index:1;width:50px;height:50px;margin:0;padding:0;border:0;overflow:hidden;text-indent:100%;cursor:pointer;background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAGFBMVEX///8AAAAAktu14/r///////////8Aktub0eS1AAAAB3RSTlNVAO5mRDMRRGid9wAAAKhJREFUKM+d0LENwyAQBVAkL5AvGQZIirQWWeCKDECR9C6cBdxk/fCtKBDdLyxfYeHHBw7CKfjSOO7GeADzVD/DhcP0wyv/88ohWnKdwlBniPY1Aic2LF30Vn3DObTomUFi131+M0iMCpNaDhMHYRYtYRTNI4lrAuYeBG3TVhWjQpjCRWFSiKIwKkRRGBWiKEwmEItClH/0G0AplKLXh0DgZR7JzzvR1wfkLSJkqx9gWAAAAABJRU5ErkJggg==') right top no-repeat transparent}
#lb__content{height:100%;width:100%;position:relative}
